*{
    margin: 0;
    padding: 0;
}

body{
    background-color:rgba(100, 148, 237, 0.722)
}

header{
    background-color: rgb(190, 195, 199);
    padding: 15px;
    height: 70px;


}


form{

    /* align-items: center; */
    color: rgba(0, 0, 0, 0.974);
    text-align: center;
    padding: 40px;
    border-radius: 60px;
    background-color: rgb(236, 146, 215);
    width: 80%;
    /* font-size: 20%; */
    margin-left: 7%;
    

    
}

label{
    /* background-color: aquamarine; */
    color: rgb(0, 0, 0);
    /* width:900px ; */
    /* border-radius: 3px; */
    /* margin: 30px; */
    text-align: center;
    font-size: 30px;
    
}
 input{
    background-color: rgb(203, 210, 208);
    width: 200px ;
    border-radius: 90px;
    
 } 
 button{
    background-color: rgba(247, 94, 227, 0.426);
    width: 100px;
    border-radius: 100px;
 }
 p{
    margin: 60px;
    padding: 0;
    font-size: 20px;
 }
 h1{
    
    font-size: 30px;
    text-align: center;
    

 }
 footer{
    background-color: rgb(190, 198, 195);
    bottom: 0px;
    padding: 20px;
    position: absolute;
    width: 100%;
    text-align: center;
    
 }
 h2{
    margin: 9%;
    padding: 10;
    text-align: center;
    border-radius: 0px;
    font-size: 30px;
 }
 
 nav ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    
}

nav ul li {
    display:flex;
    margin: 0 15px;
  
}

nav ul li a {

    /* text-decoration: none; */
     color: rgb(12, 12, 12); 
}
